* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    width: 101vw;
    height: 100vh;
    margin: -10px;
}

.container {
    display: grid;
    grid-template: .6fr 5fr / 1fr 5fr;
}

.header {
    display: grid;
    grid-template-rows: 1fr 2fr;
    padding: 2rem;
    justify-content: left;
    align-items: center;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    background-color: white;
    box-shadow: 0px 4px 3px rgb(211, 211, 211);
    z-index: 9;
}

.header-top {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 15rem;
    margin-bottom: -.4rem;
}

.search-bar {
    display: flex;
    width: 140%;
}

.search-bar img {
    width: 1.1rem;
    height: 1.1rem;
    padding-right: .4rem;
}

.search-bar input {
    min-width: 92%;
    height: 1.3rem;
    background-color: #e2e8f0;;
    border: none;
    border-radius: 15px;
}

.alerts-account-area {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: right;
}

.alerts-account-area img {
    width: 1.1rem;
    height: 1.2rem;
    margin-right: 1.4rem;
    align-self: center;
    justify-self: right;
}

.account-button {
    display: grid;
    grid-template-columns: 1fr 4fr;
    font-size: .8rem;
    font-weight: 600;
    align-items: center;
    justify-items: left;
}

.account-button span {
    text-align: center;
    padding-bottom: .3rem;
}

.account-button img {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    background-color: rgb(255, 200, 0);
}

.header-bottom {
    display: grid;
    justify-items: left;
    grid-template-columns: 1fr 1fr;
    margin-top: -2rem;
    margin-bottom: -4.4rem;
    margin-left: -2rem;
}

.bottom-acct {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 2rem;
}

.bottom-acct img {
    width: 3.4rem;
    height: 3.4rem;
    margin-right: 1rem;
    border-radius: 50%;
    background-color: rgb(255, 200, 0);
}

.bottom-greet {
    font-size: .65rem;
}

.bottom-name {
    letter-spacing: -.2px;
    font-size: 1.1rem;
    font-weight: 600;
}

.bottom-buttons {
    align-self: center;
    justify-self: right;
    padding-right: 2rem;
}

.bottom-buttons button {
    height: 1.8rem;
    width: 4.5rem;
    margin-left: 1rem;
    font-size: .74rem;
    background-color: #4ade80;
    color: white;
    border-radius: 15px;
    border: none;
}

.sidebar {
    display: grid;
    justify-items: left;
    gap: 13px;
    grid-template-rows: minmax(50px, 1fr) minmax(20rem, 6fr);
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    background-color: #4ade80;
}

.logo {
    grid-row: 1 / 2;
    display: flex;
    color: white;
    justify-self: left;
    font-size: 1.2rem;
    font-weight: 600;
    padding-left: 1.8rem;
    padding-top: .4rem;
}

.logo span {
    margin-top: 2rem;
    padding-right: 1rem;
}

.logo img {
    margin-top: 1.3rem;
    padding-right: .5rem;
    width: 2.8rem;
    height: 2.8rem;
}

.menu {
    display: flex;
    flex-direction: column;
    grid-row: 2 / 3;
    margin-top: -2rem;
}

.menu ul {
    display: grid;
    gap: 1rem;
    margin-bottom: 2rem;
    margin-top: .5rem;
}

.menu li {
    list-style-type: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
}

.menu img {
    width: 1rem;
    height: 1rem;
    margin-right: .5rem;
}

.main-content {
    display: grid;
    grid-template-rows: .7fr 10fr;
    grid-template-columns: 4fr 1.2fr;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: #e2e8f0;
}

.projects-title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-self: end;
    font-size: .9rem;
    margin-left: 1.2rem;
    margin-bottom: -.3rem;
    margin-top: -.6rem;
}

.announcements-title {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-self: end;
    font-size: .9rem;
    margin-left: .2rem;
    margin-bottom: -.3rem;
    margin-top: -.6rem;
}

.trending-title {
    align-self: end;
    font-size: .9rem;
    margin-left: .2rem;
    margin-top: 1.8rem;
}

.projects {
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.tile {
    display: grid;
    gap: 5px;
    grid-template-areas: 1fr 4fr 2fr;
    box-sizing: border-box;
    align-self: stretch;
    justify-self: stretch;
    align-items: stretch;
    justify-items: left;
    box-shadow: 2px 4px 3px rgb(211, 211, 211);
    background-color: white;
    border-left: 5px solid orange;
    font-size: .8rem;
    border-radius: 7px;
    min-width: 15rem;
    min-height: 13rem;
    margin: .9rem;
    margin-right: .9rem;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: .7rem;
}

.tile h3 {
    align-self: start;
    margin-left: -1rem;
    margin-bottom: -2rem;
}

.tile p {
    color: gray;
    align-self: start;
    margin-left: -1rem;
    margin-top: -.3rem;
}

.tile-icons {
    display: flex;
    flex-direction: row;
    justify-content: right;
    justify-self: right;
    align-self: start;
    margin-right: .8rem;
    margin-bottom: -1rem;
    width: 100%;
}

.tile-icons img {
    margin-left: 1.5rem;
    margin-bottom: .5rem;
    width: 1.3rem;
    height: 1.3rem;
}

.announcements {
    display: grid;
    background-color: white;
    box-shadow: 2px 4px 3px rgb(211, 211, 211);
    border-radius: 7px;
    font-size: .7rem;
    margin-top: 1rem;
    margin-right: 1.7rem;
    padding: 1rem;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
}

.divider {
    border: 1px solid #e2e8f0;
    width: 92%;
}

.announcements h3 {
    margin-bottom: -.5rem;
}

.announcements p {
    color: gray;
}

.trending {
    display: grid;
    gap: .55rem;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    grid-template-rows: 3.5rem 3.5rem 3.5rem 3.5rem;
    align-items: center;
    justify-items: left;
    background-color: white;
    border-radius: 7px;
    box-shadow: 2px 4px 3px rgb(211, 211, 211);
    margin-right: 1.7rem;
    padding-left: 1.2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.usr {
    display: flex;
    flex-direction: row;
}

.usr-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: .7rem;
    font-size: .7rem;
    color: gray;
    font-weight: lighter;
}

.usr-tag {
    color: black;
    font-weight: bolder;
}

.usr-1 img {
    margin-right: .1rem;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    border-radius: 50%;
    background-color: rgb(255, 200, 0);
    width: 2.25rem;
    height: 2.25rem;
}

.usr-2 img {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    border-radius: 50%;
    background-color: rgb(255, 200, 0);
    width: 2.25rem;
    height: 2.25rem;
}

.usr-3 img {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    border-radius: 50%;
    background-color: rgb(225, 110, 217);
    width: 2.25rem;
    height: 2.25rem;
}

.usr-4 img {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    border-radius: 50%;
    background-color: rgb(255, 200, 0);
    width: 2.25rem;
    height: 2.25rem;
}